<div class="row" ng-controller="vmCommodityCtrl">
  <div class="row col-md-12" ba-panel ba-panel-title="Data Komoditas" ba-panel-class="panel-group">

    <div class="row">
      <div class="row">
        <!-- availability rates -->
        <div class="pie-charts">
          <div class="pie-chart-item-container" ng-repeat="chart in charts">
            <div ba-panel
                 ba-panel-class="pv-panel">
              <div class="pie-chart-item">
                <div easypiechart class="chart" options="options" percent="percent"> <span class="percent" ng-bind="percent"></span> </div>
                <div class="description">
                  <div>{{ ::chart.description }}</div>
                  <div class="description-stats" ng-bind="chart.stats"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- top commodities -->
        <div class="col-md-6"
           ba-panel
           ba-panel-title="Banyak Dibeli"
           ba-panel-class="pv-panel table-panel" style="height:400px">
          <div>
            <table class="table table-hover">
              <thead>
                <tr style="background-color:{{colors.green}}">
                  <th class="align-left" style="color:white">#</th>
                  <th class="align-left" style="color:white">Nama Komoditas</th>
                  <th class="align-left" style="color:white">#Penjualan</th>
                  <th class="align-left" style="color:white">Harga Rata-Rata(Rp)</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in productList.product" class="no-top-border">
                  <td class="align-right">{{getRank($index)}}</td>
                  <td ng-class="nowrap">{{product.name}}</td>
                  <td ng-class="nowrap">{{product.count}}</td>
                  <td ng-class="nowrap">{{formatPrice(product.avg_price)}}</td>
                </tr>
              </tbody>
            </table>
            <!-- pagination -->
            <div class="row" style="text-align:center" ng-show="productList.totalRows>0">
              <ul uib-pagination total-items="productList.totalRows" items-per-page="productList.rowsPerPage" max-size="productList.displayedPages" previous-text="<" next-text=">" ng-model="productList.page" ng-change="changeProductPage()"></ul>
            </div>
          </div>
        </div>

        <!-- unavailable commodities -->
        <div class="col-md-6"
           ba-panel
           ba-panel-title="Tidak Tersedia"
           ba-panel-class="pv-panel table-panel" style="height:400px">
          <div class="vertical-scroll">
            <table class="table table-hover">
              <thead>
                <tr style="background-color:{{colors.red}}">
                  <th class="align-left" style="color:white">#</th>
                  <th class="align-left" style="color:white">Nama Komoditas</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in unavailableProducts" class="no-top-border">
                  <td class="align-right">{{$index+1}}</td>
                  <td ng-class="nowrap">{{product.name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>