<div class="row" ng-controller="mpOverviewCtrl">
  <!-- <div class="row col-md-12" ba-panel ba-panel-title="Data Transaksi" ba-panel-class="panel-group"> -->

    <!-- STATS -->
    <div class="row" style="height:150px">
      <!-- STATS -->
      <div class="pie-charts col-md-8">
        <div class="col-md-{{stat.colSize}}" ng-repeat="stat in stats">
          <div class="">
            <div easypiechart class="chart" options="options" percent="stat.percent" ng-show="stat.showPie"> <span class="percent" ng-bind="stat.percent" ></span> </div>
            <div class="description">
              <div>{{ ::stat.description }}</div><br>
              <div class="description-stats" ng-bind="stat.value"></div><br>
              <div ng-show="stat.showChange">
                  <i class="{{stat.icon}}" style="color:{{stat.iconColor}}"></i>
                  <span>{{stat.change}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- STATUS TRANSAKSI -->
      <div class="pie-charts col-md-4">
        <div class="col-md-12">
          <div class="description" style="width:300px">
            <div>Status Transaksi</div><br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div id="mpTransactionStatus" class="admin-chart" style="height:150px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- TRANSACTION HISTORY -->
      <div class="col-md-6"
           ba-panel
           ba-panel-title="Tren Transaksi"
           ba-panel-class="pv-panel" style="height:300px; margin-bottom:10px">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div id="mpTransactionByHistory" class="pv-chart" style="height:250px"></div>
            <!-- loading / no data handler -->
            <div class="pv-chart-medium-overlay" ng-show="loading || noData">
              <div class="pv-chart-no-data" ng-show="noData">Tidak Ada Data</div>
              <div class="pv-chart-loading" ng-show="loading"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- BUYER TREND -->
      <div class="col-md-6"
         ba-panel
         ba-panel-title="Tren Pembeli"
         ba-panel-class="pv-panel" style="height:300px; margin-bottom:10px">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div id="mpBuyerByHistory" class="pv-chart" style="height:200px"></div>
            <!-- loading / no data handler -->
            <div class="pv-chart-medium-overlay" ng-show="loading || noData">
              <div class="pv-chart-no-data" ng-show="noData">Tidak Ada Data</div>
              <div class="pv-chart-loading" ng-show="loading"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- TOP SENTRA -->
      <div class="col-md-4"
           ba-panel
           ba-panel-title="Sentra Populer"
           ba-panel-class="pv-panel" style="height:320px;">
        <div class="row">
          <div>
            <table class="table" st-table="sentraList" st-safe-src="updatedSentraList">
              <thead>
              <tr class="sortable ">
                <th class="table-id">#</th>
                <th>Sentra</th>
                <th>#Transaksi</th>
                <th>Nilai(Rp)</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="sentra in sentraList">
                <td class="table-id">{{$index+1}}</td>
                <td>{{sentra.name}}</td>
                <td>{{formatNumber(sentra.orders)}}</td>
                <td>{{formatNumber(sentra.value)}}</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="6" class="text-center">
                  <div st-pagination="" st-items-by-page="5" st-displayed-pages="5" st-page-change="changeSentraPage(newPage)"></div>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <!-- TOP PRODUCT -->
      <div class="col-md-4"
           ba-panel
           ba-panel-title="Produk Populer"
           ba-panel-class="pv-panel" style="">
        <div class="row">
          <div>
            <table class="table" st-table="productList" st-safe-src="updatedProductList">
              <thead>
              <tr class="sortable ">
                <th class="table-id">#</th>
                <th>Produk</th>
                <th>#Order(unit)</th>
                <th>Nilai(Rp)</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="product in productList">
                <td class="table-id">{{$index+1}}</td>
                <td>{{product.name}}</td>
                <td>{{formatNumber(product.units)}}</td>
                <td>{{formatNumber(product.value)}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- PAYMENT METHOD -->
      <div class="col-md-4"
           ba-panel
           ba-panel-title="Metode Pembayaran"
           ba-panel-class="pv-panel" style="height:250px; margin-bottom:25px">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div id="mpPaymentMethod" class="admin-chart" style="height:250px"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      
      
    </div>

  <!-- </div> -->
</div>