<div class="row" ng-controller="mpSentraCtrl">

  <div class="row">
    <!-- Pilih Sentra -->
    <div class="col-md-4 col-md-offset-8" style='margin-bottom:15px'>
      <div class="col-md-3 col-md-offset-3 pv-filter-title">Sentra:</div>
      <div class="col-md-6">
        <ui-select ng-model="sentraList.selected"
            on-select="selectSentra($item, $model)"
            class="btn-group bootstrap-select form-control"
            ng-disabled="false"
            append-to-body="true"
            search-enabled="false">
          <ui-select-match placeholder="{{sentraList.selected.name}}">
            <span> {{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices repeat="sentra.id as sentra in sentraList.sentras">
            <span ng-bind-html="sentra.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>


  <!-- STATS -->
  <div class="row" style="height:150px">
    <!-- transaction success rate -->
    <div class="pie-charts col-md-12">
      <div class="col-md-{{stat.colSize}}" ng-repeat="stat in stats">
        <div class="">
          <div easypiechart class="chart" options="options" percent="stat.percent" ng-show="stat.showPie"> <span class="percent" ng-bind="stat.percent" ></span> </div>
          <div class="description">
            <div>{{ ::stat.description }}</div><br>
            <div class="description-stats" ng-bind="stat.value"></div><br>
            <div ng-show="stat.showChange">
                <i class="{{stat.icon}}" style="color:{{stat.iconColor}}"></i>
                <span>{{stat.change}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- TRANSACTION HISTORY -->
    <div class="col-md-6"
         ba-panel
         ba-panel-title="Tren Transaksi"
         ba-panel-class="pv-panel" style="height:300px; margin-bottom:25px">
      <div class="row">
        <!-- <div class="row">
          <div class="col-md-2 col-md-offset-4">Tampilkan:</div>  
          <div class="col-md-2">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="transactionCount" value="count" ng-model="transactionHistory.metric" ng-change="changeMetric()">
              <span>Jumlah</span>
            </label>
          </div>
          <div class="col-md-2">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="transactionValue" value="value" ng-model="transactionHistory.metric" ng-change="changeMetric()">
              <span>Nilai(Rupiah)</span>
            </label>
          </div>
        </div> -->
        <div class="col-lg-12 col-md-12">
          <div id="mpSentraTransactionByHistory" class="pv-chart" style="height:250px"></div>
          <!-- loading / no data handler -->
          <div class="pv-chart-medium-overlay" ng-show="loading || noData">
            <div class="pv-chart-no-data" ng-show="noData">Tidak Ada Data</div>
            <div class="pv-chart-loading" ng-show="loading"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- BUYER TREND -->
    <div class="col-md-6"
       ba-panel
       ba-panel-title="Tren Pembeli"
       ba-panel-class="pv-panel" style="height:300px; margin-bottom:25px">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div id="mpSentraBuyerByHistory" class="pv-chart" style="height:250px"></div>
          <!-- loading / no data handler -->
          <div class="pv-chart-medium-overlay" ng-show="loading || noData">
            <div class="pv-chart-no-data" ng-show="noData">Tidak Ada Data</div>
            <div class="pv-chart-loading" ng-show="loading"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- TOP PRODUCT -->
    <div class="col-md-6"
         ba-panel
         ba-panel-title="Produk Populer"
         ba-panel-class="pv-panel" style="">
      <div class="row">
        <div>
          <table class="table" st-table="productList" st-safe-src="updatedProductList">
            <thead>
            <tr class="sortable ">
              <th class="table-id">#</th>
              <th>Produk</th>
              <th>#Order(unit)</th>
              <th>Nilai(Rp)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in productList">
              <td class="table-id">{{$index+1}}</td>
              <td>{{product.name}}</td>
              <td>{{formatNumber(product.units)}}</td>
              <td>{{formatNumber(product.value)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>  
    <div class="col-md-6"
         ba-panel
         ba-panel-title="Status Transaksi"
         ba-panel-class="pv-panel" style="height:250px; margin-bottom:25px">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div id="mpSentraTransactionStatus" class="admin-chart" style="height:200px"></div>
        </div>
      </div>
    </div>
  </div>
   

</div>