<div class="row" ng-controller="productListCtrl">
  <div ba-panel ba-panel-title="Daftar Produk" ba-panel-class="panel-group">
    <!-- product list -->
    <div class="horizontal-scroll">
      <div class="form-group select-page-size-wrap ">
        <label>Produk per halaman
          <select class="form-control show-tick" title="Rows on page" selectpicker
                  ng-model="productList.pageSize" ng-options="i for i in [5,10,15,20,25]">
          </select>
        </label>
      </div>
      <table class="table" st-table="productList.data">
        <thead>
        <tr class="sortable ">
          <th class="table-id" st-sort="id" st-sort-default="true">#</th>
          <th st-sort="name">Nama</th>
          <th st-sort="category">Kategori</th>
          <th st-sort="price_min">Harga Min.</th>
          <th st-sort="price_max">Harga Maks.</th>
          <!-- <th st-sort="age">Age</th> -->
        </tr>
        <tr>
          <th></th>
          <th>
            <input st-search="name" placeholder="Cari Produk" class="input-sm form-control search-input" type="search"/>
          </th>
          <th>
            <input st-search="category" placeholder="Cari Kategori" class="input-sm form-control search-input" type="search"/>
          </th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in productList.data">
          <td class="table-id">{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>{{product.price_min}}</td>
          <td>{{product.price_max}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6" class="text-center">
            <div st-pagination="" st-items-by-page="productList.pageSize" st-displayed-pages="5"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>