<div class="row" ng-controller="vmTransactionCtrl">
  <div class="row col-md-12" ba-panel ba-panel-title="Data Transaksi" ba-panel-class="panel-group">

    <!-- STATS -->
    <div class="row" style="min-height:150px">
      <!-- transaction success rate -->
      <div class="pie-charts col-md-12">
        <div class="col-md-4" ng-repeat="stat in stats">
          <div class="">
            <div easypiechart class="chart" options="options" percent="stat.percent" ng-show="stat.showPie"> <span class="percent" ng-bind="stat.percent" ></span> </div>
            <div class="description">
              <div>{{ ::stat.description }}</div><br>
              <div class="description-stats" ng-bind="stat.value"></div><br>
              <div ng-show="stat.showChange">
                  <i class="{{stat.icon}}" style="color:{{stat.iconColor}}"></i>
                  <span>{{stat.change}}%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <!-- app platform -->
    <div class="col-md-12"
       ba-panel
       ba-panel-title="Platform Aplikasi"
       ba-panel-class="pv-panel">
       <!-- app platform used -->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="progress">
            <div class="progress-bar" style="width: {{platform.percentage}}%; background-color:{{platform.color}}" ng-repeat="platform in platforms">
              {{formatPlatform(platform)}}
            </div>
          </div>
          <!-- loading / no data handler -->
          <!-- <div class="pv-chart-medium-overlay" ng-show="loading || noData">
            <div class="pv-chart-no-data" ng-show="noData">Tidak Ada Data</div>
            <div class="pv-chart-loading" ng-show="loading"></div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- TRANSACTION HISTORY -->
    <div class="col-lg-12 col-md-12 col-sm-12"
         ba-panel
         ba-panel-title="Tren Transaksi"
         ba-panel-class="pv-panel" style="height:500px">
      <div class="row">
        <div class="row">
          <div class="col-md-1 col-md-offset-9">Tampilkan:</div>  
          <div class="col-md-1">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="transactionCount" value="count" ng-model="transactionHistory.metric" ng-change="changeMetric()">
              <span>Jumlah</span>
            </label>
          </div>
          <div class="col-md-1">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="transactionValue" value="value" ng-model="transactionHistory.metric" ng-change="changeMetric()">
              <span>Nilai</span>
            </label>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div id="vmTransactionByHistory" class="pv-chart" style="height:400px"></div>
          <!-- loading / no data handler -->
          <div class="pv-chart-medium-overlay" ng-show="loading || noData">
            <div class="pv-chart-no-data" ng-show="noData">Tidak Ada Data</div>
            <div class="pv-chart-loading" ng-show="loading"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>