<div class="row" ng-controller="categoryListCtrl">
  <div ba-panel ba-panel-title="Daftar Produk" ba-panel-class="panel-group">
    <!-- category list -->
    <div class="horizontal-scroll">
      <div class="form-group select-page-size-wrap ">
        <label>Produk per halaman
          <select class="form-control show-tick" title="Rows on page" selectpicker
                  ng-model="categoryList.pageSize" ng-options="i for i in [10,25,50]">
          </select>
        </label>
      </div>
      <table class="table" st-table="categoryList.data" st-safe-src="updatedCategoryList">
        <thead>
        <tr class="sortable ">
          <th class="table-id" st-sort="id" st-sort-default="true">#</th>
          <th st-sort="name">Nama</th>
          <th>Kelola</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input st-search="name" placeholder="Cari Produk" class="input-sm form-control search-input" type="search"/>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="category in categoryList.data">
          <td class="table-id">{{category.id}}</td>
          <td>{{category.name}}</td>
          <td>
            <div class="buttons">
              <button class="btn btn-primary editable-table-button btn-xs" ng-click="editCategory(category)">Ubah</button>
              <button class="btn btn-danger editable-table-button btn-xs" ng-click="confirmDelete(category)">Hapus</button>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6" class="text-center">
            <div st-pagination="" st-items-by-page="categoryList.pageSize" st-displayed-pages="5"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>