<div class="row" ng-controller="vmProductCtrl">
  <!-- <div class="row col-md-12" ba-panel ba-panel-title="Data Produk" ba-panel-class="panel-group"> -->

    <div class="row pv-stats" style="padding-left:20px">

      <!-- availability rates -->
      <div class="row pie-charts pv-stats">
        <div class="col-md-3 pv-stats">
          <div class="">
            <div class="description">
              <div>{{ ::stats.availability.description }}</div><br>
              <div class="description-stats" ng-bind="stats.availability.value"></div><br>
              <div >
                  <i class="{{stats.availability.icon}}" style="color:{{stats.availability.iconColor}}"></i>
                  <span>{{stats.availability.change}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Availability Trend -->
        <div class="col-md-8"
           ba-panel
           ba-panel-title="Tren Ketersediaan"
           ba-panel-class="pv-panel" style="height:300px; margin-bottom:10px">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div id="vmProductAvailability" class="pv-chart" style="height:200px"></div>
              <!-- loading / no data handler -->
              <div class="pv-chart-medium-overlay" ng-show="loading || noData">
                <div class="pv-chart-no-data" ng-show="noData">Tidak Ada Data</div>
                <div class="pv-chart-loading" ng-show="loading"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- top commodities -->
        <div class="col-md-12"
           ba-panel
           ba-panel-title="Daftar Produk"
           ba-panel-class="pv-panel table-panel" style="height:400px">
          <div>
            <!-- <table class="table table-hover">
              <thead>
                <tr style="background-color:{{colors.green}}">
                  <th class="align-left" style="color:white">#</th>
                  <th class="align-left" style="color:white">Nama Produk</th>
                  <th class="align-left" style="color:white">#Penjualan</th>
                  <th class="align-left" style="color:white">Harga Rata-Rata(Rp)</th>
                  <th class="align-left" style="color:white">Ketersediaan(%)</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in productList.product" class="no-top-border">
                  <td class="align-right">{{getRank($index)}}</td>
                  <td ng-class="nowrap">{{product.name}}</td>
                  <td ng-class="nowrap">{{product.count}}</td>
                  <td ng-class="nowrap">{{formatNumber(product.avg_price)}}</td>
                  <td ng-class="nowrap">{{formatNumber(product.availability)}}</td>
                </tr>
              </tbody>
            </table> -->
            <!-- pagination -->
            <!-- <div class="row" style="text-align:center" ng-show="productList.totalRows>0">
              <ul uib-pagination total-items="productList.totalRows" items-per-page="productList.rowsPerPage" max-size="productList.displayedPages" previous-text="<" next-text=">" ng-model="productList.page" ng-change="changeProductPage()"></ul>
            </div> -->

            <!-- NEW TABLE -->
          <table class="table" st-table="productList.product" st-safe-src="updatedProductList">
            <thead>
            <tr class="sortable ">
              <th class="table-id">#</th>
              <th st-sort="name">Produk</th>
              <th st-sort="category">Kategori</th>
              <th st-sort="sorter.count" st-sort-default="reverse">#Transaksi</th>
              <th >#Permintaan</th>
              <th st-sort="sorter.avgPrice">Harga(Rp)</th>
              <th st-sort="sorter.availability">Ketersediaan(%)</th>
              <th >Tren</th>
            </tr>
            <tr>
              <th></th>
              <th>
                <input st-search="name" placeholder="Cari Produk" class="input-sm form-control search-input" type="search"/>
              </th>
              <th>
                <input st-search="category" placeholder="Cari Kategori" class="input-sm form-control search-input" type="search"/>
              </th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in productList.product">
              <td class="table-id">{{$index+1+(productPageIndex-1)*productPageSize}}</td>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.count}}</td>
              <td>{{product.sums}} {{product.unit}}</td>
              <td>{{formatNumber(product.avg_price)}}</td>
              <td>{{formatNumber(product.availability)}}</td>
              <td>
                <div class="buttons">
                  <button class="btn btn-primary editable-table-button btn-xs" ng-click="viewTrend(product)">Lihat</button>
                </div>
              </td> 
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="5" st-displayed-pages="5" st-page-change="changeProductPage(newPage)"></div>
              </td>
            </tr>
            </tfoot>
          </table>

          </div>
        </div>

      </div>
    </div>

  <!-- </div> -->
</div>